---
title: Resources
layout: layouts/base.njk
---

<p>Some links that I've collected over the years:</p>

<ul class="fa-ul">
    {% for itm in resources %}
        <li class="flex items-center px-1/2 py-0">
            <span class="fa-li">
                <i class="fa-solid fa-chevron-right"></i>
            </span>
            <a href="/~mliu102/resources/{{ itm.slug }}">
                {{ itm.name }}
            </a>
        </li>
    {% endfor %}
</ul>