{% for list in links %}
    <div>
        <h2 class="collapsible underline cursor-pointer font-rserif text-2xl">{{ list.section }}</h2>
        <ul class="hidden">
            {% for link in list.bookmarks %}
                <li>
                    <a href="{{ link.url }}">{{ link.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endfor %}