<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" href="/~mliu102/assets/fontawesome/css/fontawesome.css"/>
    <link rel="stylesheet" href="/~mliu102/assets/fontawesome/css/brands.css"/>
    <link rel="stylesheet" href="/~mliu102/assets/fontawesome/css/solid.css"/>
    <link rel="icon" type="image/x-icon" href="/~mliu102/images/favicon_02.ico"/>

    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>

    <link rel="stylesheet" href="/~mliu102/styles/fonts.css"/>
    <link rel="stylesheet" href="/~mliu102/styles/util.css"/>
    <link rel="stylesheet" href="/~mliu102/styles/style.css"/>

    <title>{{ title }} | Mona Liu</title>
</head>

<body class="site">
    {% include "../partials/navbar.njk" %}
    {% include "../partials/navbar_mobile.njk" %}
    <main class="main">
        {{ content | safe }}
    </main>
    {% include "../partials/footer.njk" %}
    <script>
        $(".nav__hamburger").on("click", function () {
            $(".nav__mobileMenu").slideToggle();
        });
        $(".sectionTitle--collapsible").on("click", function () {
            $(this).next().slideToggle('slow')
        });
    </script>
</body>