<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" href="/~mliu102/assets/fontawesome/css/fontawesome.css"/>
    <link rel="stylesheet" href="/~mliu102/assets/fontawesome/css/brands.css"/>
    <link rel="stylesheet" href="/~mliu102/assets/fontawesome/css/solid.css"/>
    <link rel="stylesheet" href="/~mliu102/assets/css/style.css"/>

    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>

    <title>{{ title }} | Mona Liu</title>
</head>

<body class="m-0 font-rsans">
    {% include "../partials/navbar.njk" %}
    {% include "../partials/navbar_mobile.njk" %}
    <main class="mx-auto my-0 min-h-4/5 sm:width-4/5 sm:p-4 sm:text-wrap md:width-3/5 md:p-8">
        <h1 class="text-4xl font-rserif font-bold">{{ title }}</h1>
        {{ content | safe }}
    </main>
    {% include "../partials/footer.njk" %}
    <script>
        $(".mobileMenuToggle").on("click", function () {
            $(".mobileMenu").slideToggle();
        });
        $(".collapsible").on("click", function () {
            $(this).next().slideToggle('slow')
        });
    </script>
</body>