<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" href="/~mliu102/assets/fontawesome/css/fontawesome.css"/>
    <link rel="stylesheet" href="/~mliu102/assets/fontawesome/css/brands.css"/>
    <link rel="stylesheet" href="/~mliu102/assets/fontawesome/css/solid.css"/>
    <link rel="stylesheet" href="/~mliu102/assets/css/style.css"/>

    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>

    <title>{{ title }}</title>
</head>

<body class="site">
    <main class="main">
        {{ content | safe }}
    </main>
</body>