/* font importing */

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: url('/~mliu102/assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 400;
	src: url('/~mliu102/assets/fonts/Roboto/Roboto-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src: url('/~mliu102/assets/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 700;
	src: url('/~mliu102/assets/fonts/Roboto/Roboto-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: 400;
	src: url('/~mliu102/assets/fonts/Roboto_Mono/RobotoMono-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto Mono';
	font-style: italic;
	font-weight: 400;
	src: url('/~mliu102/assets/fonts/Roboto_Mono/RobotoMono-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: 700;
	src: url('/~mliu102/assets/fonts/Roboto_Mono/RobotoMono-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto Mono';
	font-style: italic;
	font-weight: 700;
	src: url('/~mliu102/assets/fonts/Roboto_Mono/RobotoMono-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto Serif';
	font-style: normal;
	font-weight: 400;
	src: url('/~mliu102/assets/fonts/Roboto_Serif/RobotoSerif-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto Serif';
	font-style: italic;
	font-weight: 400;
	src: url('/~mliu102/assets/fonts/Roboto_Serif/RobotoSerif-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto Serif';
	font-style: normal;
	font-weight: 700;
	src: url('/~mliu102/assets/fonts/Roboto_Serif/RobotoSerif-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto Serif';
	font-style: italic;
	font-weight: 700;
	src: url('/~mliu102/assets/fonts/Roboto_Serif/RobotoSerif-BoldItalic.ttf') format('truetype');
}



/*tailwind */

@import "tailwindcss";

@theme {
	--font-rsans: "Roboto", sans-serif;
	--font-rserif: "Roboto Serif", serif;
	--font-rmono: "Roboto Mono", monospace;
}