---
title: Contact
layout: layouts/base.njk
---

<h1 class="title">{{ title }}</h1>

<div class="section">
    <h2 class="sectionTitle">Academic email</h2>
    <p class="sectionBody">
        <span class="iconLink">
            <i class="fa-solid fa-envelope iconLink__icon"></i>
            <a class="iconLink__link link" href="mailto:mona.liu@mail.mcgill.ca">mona.liu@mail.mcgill.ca</a>
        </span>
    </p>
</div>
<div class="section">
    <h2 class="sectionTitle">General purpose email</h2>
    <p class="sectionBody">
        <span class="iconLink">
            <i class="fa-solid fa-envelope iconLink__icon"></i>
            <a class="iconLink__link link" href="mailto:mona.liu.dev@gmail.com">mona.liu.dev@gmail.com</a>
        </span>
    </p>
</div>
<div class="section">
    <h2 class="sectionTitle">Other places to find me</h2>
    <p class="sectionBody">
        <span class="iconLink">
            <i class="fa-brands fa-github iconLink__icon"></i>
            <a class="iconLink__link link" href="https://github.com/06j07m">Github profile</a>
        </span>
        <br />
        <span class="iconLink">
            <i class="fa-brands fa-gitlab iconLink__icon"></i>
            <a class="iconLink__link link" href="https://gitlab.cs.mcgill.ca/mliu102">Gitlab (McGill) profile</a>
        </span>
        <br />
        <span class="iconLink">
            <i class="fa-brands fa-linkedin iconLink__icon"></i>
            <a class="iconLink__link link" href="https://linkedin.com/in/mona-liu-dev">Linkedin profile</a>
        </span>
    </p>
</div>