---
title: About
layout: layouts/base.njk
---

<div>
    <h2 class="font-rserif text-2xl">Academic email</h2>
    <p>
        <span>
            <i class="fa-solid fa-envelope"></i>
            <a href="mailto:mona.liu@mail.mcgill.ca">mona.liu@mail.mcgill.ca</a>
        </span>
    </p>
</div>
<div>
    <h2 class="font-rserif text-2xl">General purpose email</h2>
    <p >
        <span>
            <i class="fa-solid fa-envelope"></i>
            <a href="mailto:mona.liu.dev@gmail.com">mona.liu.dev@gmail.com</a>
        </span>
    </p>
</div>
<div class="section">
    <h2 class="font-rserif text-2xl">Other places to find me</h2>
    <p>
        <span>
            <i class="fa-brands fa-github"></i>
            <a href="https://github.com/06j07m">Github profile</a>
        </span>
        <br />
        <span>
            <i class="fa-brands fa-gitlab"></i>
            <a href="https://gitlab.cs.mcgill.ca/mliu102">Gitlab (McGill) profile</a>
        </span>
        <br />
        <span>
            <i class="fa-brands fa-linkedin"></i>
            <a href="https://linkedin.com/in/mona-liu-dev">Linkedin profile</a>
        </span>
    </p>
</div>