---
title: Home
layout: layouts/base.njk
---

<div class="flex justify-between sm:flex-col-reverse md:flex-row md:gap-x-4">
    <div class="md:max-w-lg">
        <h1 class="text-3xl">Mona Liu</h1>
        <h2 class="text-2xl">B.Sc. Computer Science</h2>
        <p>Hello!</p>
        <p>I've been working with code since 2018, and am currently pursuing a Bachelor's in Computer Science at McGill University, with minors in Statistics and Linguistics.</p>
        <p>I'm passionate about using technology to help people. I hope to work on projects that are innovative and impactful, whether as a developer or as a researcher. I believe in honesty and learning through doing.</p>
        <p>When I'm not programming, you might find me jogging, watching B-list movies, reading comics, or making egg fried rice.</p>
    </div>
    <div class="md:max-w-lg">
        <img class="w-3/4 mask-contain mask-[url(/~mliu102/assets/images/squircle.svg)] mask-alpha mask-center mask-no-repeat" src="/~mliu102/assets/images/profile.jpg" alt="photo of me">
    </div>
</div>