---
title: Home
layout: layouts/base.njk
---

<div class="columns">
    <div class="columns__col">
        <h1 class="title">Mona Liu</h1>
        <h2 class="subtitle">B.Sc. Computer Science</h2>
        <p>Hello!</p>
        <p>I've been working with code since 2018, and am currently pursuing a Bachelor's in Computer Science at McGill University, with minors in Statistics and Linguistics.</p>
        <p>I'm passionate about using technology to help people. I hope to work on projects that are innovative and impactful, whether as a developer or as a researcher. I believe in honesty and learning through doing.</p>
        <p>When I'm not programming, you might find me jogging, watching B-list movies, reading comics, or making egg fried rice.</p>
    </div>
    <div class="columns__col">
        <img class="img--me" src="/~mliu102/assets/images/profile.jpg" alt="photo of me">
    </div>
</div>