---
title: Projects
layout: layouts/base.njk
---

{% for proj in projects %}
    <div class="p-6 mt-3 mb-6">
        <h2 class="m-0">{{ proj.name }}</h2>
        <p class="italic text-sm mt-1">{{ proj.tools }}</p>
        <p>{{ proj.description }}</p>
        <div class="mx-2 my-0">
            {% for lk in proj.links %}
                <span>
                    {% if lk.type == 'github' %}
                        <i class="fa-brands fa-github-alt"></i>
                        <a href="{{ lk.url }}">{{ lk.url }}</a>
                    {% elseif lk.type == 'gitlab' %}
                        <i class="fa-brands fa-gitlab"></i>
                        <a href="https://gitlab.cs.mcgill.ca/{{ lk.url }}">{{ lk.url }}</a>
                    {% elseif lk.type == 'site' %}
                        <i class="fa-solid fa-globe"></i>
                        <a href="https://{{ lk.url }}">{{ lk.url }}</a>
                        {% elseif lk.type == 'devpost' %}
                        <i class="fa-solid fa-laptop-code"></i>
                        <a href="https://devpost.com/software/{{ lk.url }}">{{ lk.url }}</a>
                    {% endif %}
                </span>
                <br>
                {% endfor %}
            </div>
        </div>
{% endfor %}