---
title: Projects
layout: layouts/base.njk
---

<h1 class="title">{{ title }}</h1>

{# {% include "partials/construction.njk" %} #}

{% for proj in projects %}
    <div class="project">
        <h2 class="projectTitle">{{ proj.name }}</h2>
        <p class="projectTools">{{ proj.tools }}</p>
        <p class="projectDesc">{{ proj.description }}</p>
        <div class="projectLinks">
            {% for lk in proj.links %}
                <span class="projectLinks__item">
                    {% if lk.type == 'github' %}
                        <i class="projectLinks__icon fa-brands fa-github-alt"></i>
                        <a class="projectLinks__link link" href="{{ lk.url }}">{{ lk.url }}</a>
                    {% elseif lk.type == 'gitlab' %}
                        <i class="projectLinks__icon fa-brands fa-gitlab"></i>
                        <a class="projectLinks__link link" href="https://gitlab.cs.mcgill.ca/{{ lk.url }}">{{ lk.url }}</a>
                    {% elseif lk.type == 'site' %}
                        <i class="projectLinks__icon fa-solid fa-globe"></i>
                        <a class="projectLinks__link link" href="https://{{ lk.url }}">{{ lk.url }}</a>
                        {% elseif lk.type == 'devpost' %}
                        <i class="projectLinks__icon fa-solid fa-laptop-code"></i>
                        <a class="projectLinks__link link" href="https://devpost.com/software/{{ lk.url }}">{{ lk.url }}</a>
                    {% endif %}
                </span>
                <br>
                {% endfor %}
            </div>
        </div>
{% endfor %}