---
title: Research
layout: layouts/base.njk
---

<p>My primary interests lie in the intersection of language, machine learning, and computer vision. Areas that I would like to work in include:</p>

<ul>
    <li><span class="font-bold">Language generation with logic constraints:</span> generation of acrostics, mnemonics, and names with humorous or readable acronyms</li>
    <li><span class="font-bold">Multimodal machine interpretation and translation:</span> computer interpretation of sign languages</li>
    <li><span class="font-bold">Language documentation and revitalization:</span> what can technology do for endangered languages?</li>
    <li><span class="font-bold">OCR:</span> text and handwriting recognition for marginalized languages, optical music recognition</li>
</ul>

<p>I am also curious about other topics: climate change, accessibility, aviation, and forensics.</p>