<footer class="border-t-2 m-0 p-3 text-center">
    <p class="text-xs">
        © 2025 Mona Liu. 
        Site generated with <a href="https://www.11ty.dev">11ty</a>. 
        Source code on <a href="https://github.com/06j07m/new_website"><i class="fa-brands fa-github"></i> Github</a>.
        <!--<a class="no-underline" href="https://www.cbc.ca/news/canada/windsor/marco-kurepa-windsor-lynn-canyon-fall-vancouver-1.7306934"><i class="fa-solid fa-cross"></i></a>-->
    </p>
</footer>