<header class="border-b-2 p-4 m-0 sm:hidden md:flex md:flex-row md:flex-wrap">
    <div class="grow">
        <a class="text-lg no-underline" href="/~mliu102/">
            <span>
                Mona Liu
            </span>
        </a>
    </div>
    <div class="flex">
        {% for itm in menu %}
            <span class="px-3">
                <a href="/~mliu102/{{ itm.slug }}">{{ itm.name }}</a>
            </span>
        {% endfor %}
    </div>
</header>