<header class="nav nav--desktop">
    <div class="nav__left">
        <a class="navTab--home link--hidden" href="/~mliu102/">
            <span class="nav__siteTitle">
                Mona Liu
            </span>
        </a>
    </div>
    <div class="nav__right">
        {% for itm in menu %}
            <span class="navTab">
                <a class="navTab__link link" href="/~mliu102/{{ itm.slug }}">{{ itm.name }}</a>
            </span>
        {% endfor %}
    </div>
</header>