<img class="mask-contain mask-[url(/~mliu102/assets/images/squircle.svg)] mask-alpha mask-center mask-no-repeat"
    src="/~mliu102/assets/images/profile.jpg" alt="photo of me">

<h1 class="text-xl font-rserif font-bold">Mona Liu</h1>
<h2 class="font-rserif italic">B.Sc. Computer Science + Stats minor + Ling minor</h2>

<ul class="text-sm font-rmono">
    <li>
        <i class="fa-solid fa-location-dot"></i>
        McGill University
    </li>
    <li>
        <i class="fa-solid fa-envelope"></i>
        mona [dot] liu [at] mail [dot] mcgill [dot] ca
    </li>
    <li>
        <i class="fa-brands fa-linkedin"></i>
        <a href="https://linkedin.com/in/mona-liu-dev">Linkedin</a>
    </li>
    <li>
        <i class="fa-brands fa-github"></i>
        <a href="https://github.com/06j07m">Github</a>
    </li>
    <li>
        <i class="fa-brands fa-gitlab"></i>
        <a href="https://gitlab.cs.mcgill.ca/mliu102">Gitlab</a>
    </li>
</ul>